#root {
  max-width: 1280px;
  width: auto;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  display: block;
}

#header {
  align-items: center;
  display: flex;
  border-bottom: solid 2px black;
}

h1 {
  font-size: 3.2rem;
}

.subheading {
  font-size: 1.3rem;
}

.header-icon {
  height: 3.2rem;
  padding: 0 1.25rem;
}

#homePage {
  margin: 1rem 0;
  border: 2px solid blue;
}

#propertyList {
  border: 2px solid red;
}

#propertyCard {
  border: 2px solid green;
}

#propertyCardImage {
  height: 7rem;
}

.imageContainer {
  width: 23rem;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.propertyImage {
  width: 100%;
  scroll-snap-align: start;
}

#hostImage {
  height: 10rem;
}

#reviewSnapshotContainer {
  border: black 2px solid;
  border-radius: 10px;
}

#reviewerImg {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5rem;
}

#reviewerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reviewForm {
  overflow: visible;
  padding: 3rem;
}